.playlist {
  grid-area: playlist;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 8%;
  border-radius: 20px;
  background: linear-gradient(135deg, #d5340c, #252f77);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  min-height: 20vh;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 100vh; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.playlist input {
  border-style: none;
  width: 50%;
  padding: 4.25px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
}

.playlist input:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.playlist input:focus::placeholder {
  color: transparent;
}

.playlist input::placeholder {
  color: #dadada;
}

.saveButton {
  padding: 12px 20px;
  margin-top: 15px;
  border: none;
  background-color: #252f77;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #535bf2;
}

.saveButton:disabled {
  cursor: not-allowed;
  background-color: rgba(37, 47, 119, 0.25);
}

.successMessage {
  margin-top: 10px;
  color: green; /* Green color for success message */
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.1s ease-out; /* Fade out transition */
}
