.playlist {
  grid-area: playlist;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 8%;
  border-radius: 20px;
  background: linear-gradient(135deg, #d5340c, #252f77);
}

.playlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

